# /etc/systemd/system/offlineimap@.service
[Unit]
Description=Start offlineimap as a daemon

[Service]
Type=simple
ExecStart=/usr/bin/offlineimap -u basic -o
KillSignal=SIGUSR2
Restart=always
TimeoutSec=5min