Xautolock.time: {{ locktime }}
Xautolock.locker: "xlock"
Xautolock.corners: +0-0
Xautolock.cornerdelay: 3

XLock.foreground: White
XLock.background: Gray20
XLock.echokeys: true
XLock.usefirst: true
XLock.echokey: *

Xft.dpi: {{ dpi }}
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
