# Config tailored to use Kerberos authentication for my own purposefetchmail

[general]
ui = Noninteractive.Quiet
#ui = Curses.Blinkenlights
accounts = {{ offlineimap.account }}
maxsyncaccounts = 2

[Account {{ offlineimap.account }}]
localrepository = {{ offlineimap.account }}Local
remoterepository = {{ offlineimap.account }}Remote
autorefresh = 5
synclabels = yes
postsynchook = {{ offlineimap.postsynchook }} 

[Repository {{ offlineimap.account }}Local]
type = GmailMaildir
localfolders = ~/Maildir/

[Repository {{ offlineimap.account }}Remote]
type = Gmail
sslcacertfile = /etc/ssl/certs/ca-bundle.crt
remoteuser = {{ offlineimap.remoteuser }}
remotepass = {{ offlineimap.remotepass }}
folderfilter = {{ offlineimap.folderfilter }}
idlefolders = {{ offlineimap.idlefolders }}
ignorelabels = \Inbox, \Starred, \Sent, \Draft, \Spam, \Trash, \Important
