poll {{ fetchmail.server }} protocol imap:
    username "{{ fetchmail.username }}"
    password "{{ fetchmail.password }}"
    is "{{ fetchmail.localuser }}" here;
    mda "/usr/bin/maildrop"
    ssl
    sslcertck
